#racesTitle{
    display: none;
}
.infoModal{
    text-decoration: none;
    color: black;
}
.infoModal:hover{
    color: rgb(0, 0, 255);
    cursor: pointer;
}
#loggedIn{
    display: none;
}
#userDetails:hover{
    color: rgb(134, 134, 134);
    cursor: pointer;
}